<h2>click to see your saved bookmarks or add one </h2>
<form class="" action="/bookmarks" method="get">
  <input type="submit" value="view bookmarks" >
</form>
<form class="" action="/bookmarks/new" method="get">
  <input type="submit" value="add bookmarks" >
</form>
