<h3>add new bookmarks below</h3>
<form action="/bookmarks/added" method="post" >
  <label for='/bookmarks/added'>
    Enter the url:
  <input type="text" name="url">
  </label>
    <label for='title'>
      enter the title:
  <input type='text' name='title'>
  </label>
  <input type='submit' value="Add bookmark"="">
  </form>
